body{
    background:url(transformers.jpg);
    color: #000000 !important;
}
body h1{
    text-align: center;
    size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    opacity: 0.8;
    align-content: center;
}
#content{

    align-self: auto;
    display: grid;
    grid-template-columns: repeat(3 , 2fr);
    grid-template-rows: repeat(2,1fr);
    grid-area: auto;
    grid-gap: 1em;
    margin: 0 auto;
    text-align: center;
    max-width: 960px;

}
.event-card{

    background: transparent;
    max-height: auto;
    padding: 20px 10px ;
    border: 1px solid #161616;
    perspective: 1000px;
    height: 15rem;
}
.event-card-inner {

    width: auto;
    height:auto;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
.event-card:hover .event-card-inner {
    transform: rotateY(180deg);
  }
  .event-card-front, .event-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  .event-card-front {
    background-color: #bbb;
    color: black;
  }
  .event-card-back {
    background-color: dodgerblue;
    transform: rotateY(180deg);
  }

