

html{
  overflow: hidden;

}
/*
video {   position: fixed;
  top: 50%;
  left: 50%;
  z-index: -2;
  transform: translate(-51.5%, -50%);
  width: 120%;
  height: 120%;
}
*/
body{
  background-image: url(transformers.jpg);
    background-size: cover;

    height: 100%;
    width: 100%;
}

/* here is the css for Clock */

        #clockdiv {
            font-family: sans-serif;
            color: #fff;
            display:inline-block;
            font-weight: 100;
            text-align: center;
            font-size: 30px;
           margin-top: 10%;
           width: 40%;
          
        }

        #clockdiv>div {
           padding: 10px 10px 10px 10px;
            border-radius: 3px;
            background: #00BF96;
            display: inline-block;
            width: 15%;
            margin-top: 5%;
           
          }

        #clockdiv div>span {
            
            border-radius: 3px;
            background: #00816A;
            display: inline-block;
            width: 100%;
            padding-top: 10%;
            padding-bottom: 10%;
        }

        .smalltext {
            padding-top: 5px;
            font-size: 18px !important;
        }

  /* the css for the clock closes here */



.center {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.center h1{
    color: white;
}

.firsta{
 margin-top: 10%;
}
#blahblah{
    color: white;
    width: 80%;
      margin-top: 30%;
}


 /* The sidebar menu */
 .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    opacity: 0.8;
  }

  /* The sidebar links */
  .sidebar a {
  	text-align:center;
    padding: 8px 0px 0px 0px;
    text-decoration: none;
    font-size: 20px;
    /*color: #818181;*/
    color: white;
    display: block;
    transition: 0.3s;
    border: 1px solid orange;

    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    border-radius: 0px;
  }

  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
   background: orange;
   color:navy;
  }

  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }

  .openbtn:hover {
    background-color: #444;
  }

  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  .social{
      display: inline-block;
      right: 2vw;
      position: absolute;
      color: white;
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
  }
   /* Style all font awesome icons */
.fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 70%;
  }

  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.6;
  }

  /* Set a specific color for each brand */

  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }


  .fa-instagram{
    background: #cd486b;
    color: white;
}

.topbar{
  position: absolute;
  top: 10px;
  width: 98%;
  padding-left: 2vw;
  margin: auto 0;
}
.footer{
  color: white; bottom: 0.5vw ; position: absolute; font-size: 20px; font-family: Arial, Helvetica, sans-serif; width: 100%; text-align: center;
}
.map{
  margin:300px 200px ;
  position: fixed;
}
@media only screen and (max-width: 600px) {
  video{
      width: 3500px;
      height: 100%;
      transform: translate(-50.5%, -50%);
  }


}