html{
  overflow: scroll;
}

.sidebar h1{
  color: white;margin-left: 12% !important;
  font-family: 'Aldrich', sans-serif !important;
}
.registerdata{
margin-left:20%;
margin-right: 20%;
}

.logo{
height:25%;
width: 70%;
margin-left: 15%;
margin-top: 5%;

}
.container{
display:flex;
    flex-wrap: wrap;
    justify-content: center;

}
.rules{

color: white !important;
font-size:1.5rem;

}
.text-center {
  font-size:2.5em;
  color: #fff;
  margin-top:5%;

  text-align: center !important;
}

@media (min-width: 576px) {
  .text-sm-left {
    text-align: left !important;
  }
  .text-sm-right {
    text-align: right !important;
  }
  .text-sm-center {
    text-align: center !important;
  }
}

@media (min-width: 768px) {
  .text-md-left {
    text-align: left !important;
  }
  .text-md-right {
    text-align: right !important;
  }
  .text-md-center {
    text-align: center !important;
  }
}

@media (min-width: 992px) {
  .text-lg-left {
    text-align: left !important;
  }
  .text-lg-right {
    text-align: right !important;
  }
  .text-lg-center {
    text-align: center !important;
  }
}

@media (min-width: 1200px) {
  .text-xl-left {
    text-align: left !important;
  }
  .text-xl-right {
    text-align: right !important;
  }
  .text-xl-center {
    text-align: center !important;
  }
}

.center-div
{
  margin:15% 35%;
  font-size:1.8rem;
  max-width: 750px;
  color: #fff;
  height: 100px;
  border-radius: 3px;
}
.center-div button{
  margin-left: 35%;
  margin-bottom: 5%;
  padding: 10px;
}
video {   position: fixed;
  top: 50%;
  left: 50%;
  z-index: -2;
  transform: translate(-50.0%, -50%);
  width: 105%;
  height: 120%;
}

body{

    background-size: cover;
    background-repeat: no-repeat;

    height: 100%;
    width: 100%;
}

/* here is the css for Clock */

        /* #clockdiv {
            font-family: sans-serif;
            color: #fff;
            display:inline-block;
            font-weight: 100;
            text-align: center;
            font-size: 30px;
           margin-top: 10%;
           width: 40%;

        }

        #clockdiv>div {
           padding: 10px 10px 10px 10px;
            border-radius: 3px;
            background: #00BF96;
            display: inline-block;
            width: 15%;
            margin-top: 5%;

          }

        #clockdiv div>span {

            border-radius: 3px;
            background: #00816A;
            display: inline-block;
            width: 100%;
            padding-top: 10%;
            padding-bottom: 10%;
        }

        .smalltext {
            padding-top: 5px;
            font-size: 18px !important;
        } */

  /* the css for the clock closes here */



.center {
  position: fixed;
  top: 65%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.center h1{
    color: white;
}



.firsta{
 margin-top: 10%;
}
.blahblah{
    color:#ffb101 !important;
    width: 80%;
    margin-top: 15%;
    background:#ffb101;
}


 /* The sidebar menu */
 .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    opacity: 0.7;
  }

  /* The sidebar links */
  .sidebar a {
  	text-align:center;
    padding: 8px 0px 0px 0px;
    text-decoration: none;
    font-size: 20px;
    /*color: #818181;*/
    color: white;
    display: block;
    transition: 0.3s;
    border: 1px solid #ffb101;

    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    border-radius: 0px;
  }

  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
   background:#ffb101;
   color:black;
  }

  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }

  .openbtn:hover {
    background-color: #444;
  }

  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  .social{
      display: inline-block;
      right: 2vw;
      position: absolute;
      color: white;
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
padding-top: 1.5%;
  }
   /* Style all font awesome icons */
.fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 70%;
  }

  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.6;
  }

  /* Set a specific color for each brand */

  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }


  .fa-instagram{
    background: #cd486b;
    color: white;
}

.topbar{
  position: absolute;
  top: 10px;
  width: 98%;
  padding-left: 2vw;
  margin: auto 0;
}
.footer{
  color: white; bottom: 0.5vw ; position: absolute; font-size: 20px; font-family: Arial, Helvetica, sans-serif; width: 100%; text-align: center;
}
/* BUTTON */
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.35rem;
  box-shadow: #000000;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn:hover {
  color: #212529;
  text-decoration: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.btn-warning {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-warning:hover {
  color: #212529;
  background-color: #e0a800;
  border-color: #d39e00;
}

.btn-warning:focus, .btn-warning.focus {
  box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
}

.btn-warning.disabled, .btn-warning:disabled {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active,
.show > .btn-warning.dropdown-toggle {
  color: #212529;
  background-color: #d39e00;
  border-color: #c69500;
}

.btn-warning:not(:disabled):not(.disabled):active:focus, .btn-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
}
/* BANNER */
#banner {
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  margin-bottom: 2vh;
  color: #fff;
}

  #banner h1 {
      font-size: 3.5em;
      font-weight: 100;
      color: #fff;
      line-height: 1em;
      margin: 0;
      padding: 0;
  }

  #banner p {
      font-size: 1em;
      color: rgba(255, 255, 255, 0.55);
      margin-bottom: 1.75em;
  }

  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

      #banner {
          background-attachment: scroll;
      }

  }

  @media screen and (max-width: 1280px) {

      #banner {
          padding: 10em 2em 8em 2em;
      }

  }

  @media screen and (max-width: 980px) {

      #banner {
          background-attachment: scroll;
      }

  }

  @media screen and (max-width: 736px) {

      #banner {
          padding: 8em 1.5em 6em 1.5em;
      }

          #banner h1 {
              font-size: 2.5em;
          }

          #banner p {
              font-size: .9em;
          }

  }

  @media screen and (max-width: 480px) {

      #banner {
          padding: 6em 1.5em 4em 1.5em;
      }

  }
  .divider{
    height:5px;
   color:white;
   background-color:white;
   border-radius: 20px;
   opacity: 0.8;
   align-content: center;
   max-width: 80%;
   margin-bottom: 2%;
  }
